MONGO_URL=mongodb+srv://username:password@real-estate-cluster.djohuby.mongodb.net/realestate
PORT=3000
JWT_ACCESS_SECRET=yoursecret
JWT_REFRESH_SECRET=yoursecret

JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
COMMISSION_RATE=0.03